/*---------------------------------------------
  global settings
  ---------------------------------------------*/
body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.5em; margin: 0 0 0 0;}
header {position: sticky; top: 0; text-align: center; font-size: 1.6em; font-weight: bold; line-height: 0.6em; padding-top: 0.05em; padding-bottom: 0.05em; background-color: rgb(0, 10, 146); color:rgb(255, 255, 255);}
main {position:static; margin: 0em 2em 0em 2em; min-width: 400;}


/*---------------------------------------------
  Headlines
  ---------------------------------------------*/
h1 {font-size: 1.4em; margin: 2px; padding-top: 0.4em; padding-bottom: 0.15em;}
h2 {font-size: 1.2em; margin: 4px; padding-top: 0.2em; padding-bottom: 0.1em;}

/*---------------------------------------------
  marked words
  ---------------------------------------------*/
mark {background-color: rgb(228, 228, 228);}
mark.target {font-weight: 600; background-color: rgb(221, 228, 243); border: 1px solid rgb(136, 140, 201); border-radius: 0.5em 0.1em; color: rgb(46, 60, 120); cursor: alias;}
mark.setting {font-weight: 600; background-color: rgb(243, 232, 221); border: 1px solid rgb(201, 175, 136); border-radius: 0.5em 0.1em; color: rgb(120, 90, 46); cursor: alias;}

/*---------------------------------------------
  SVG elements
  ---------------------------------------------*/
.SvgT {fill: rgba(0, 162, 255, 0.2); stroke: rgb(0, 162, 255); stroke-width: 1; display: none;}
.SvgS {fill: rgba(255, 51, 0, 0.2); stroke: rgb(255, 51, 0); stroke-width: 1; display: none;}

.SvgShow {display: block;}